.skills {
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3% 5% 10%;
}
.skills__list {
  display: flex;
  flex-wrap: wrap;
}
.skills__item {
  width: 45%;
  list-style: none;
  padding: 4% 2%;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0.2px 0.9px 0.9px silver;
  margin: 2%;
  justify-content: center;
  text-align: center;
}

.skills__item:hover .skills-img {
  transition: all .5s ease;
  transform: scale(1.2);
}
.skills__item:hover {
  background-color: rgb(239, 239, 239);
}

p.skills__name {
  font-weight: 600;
  font-size: 0.8em;
  margin: 6% 0;
  border-top: 1px solid rgb(209, 209, 209);
  padding: 5% 0 0;

}
.skills-img {
  height: 60px;
}
.skills h2 {
  margin: 0;
  align-self: flex-start;
}
p.skills__subtitle {
  font-size: 1em;
  line-height: 1.5em;
  margin: 4% 0;
  align-self: flex-start;
}
@media (min-width: 375px) {
  .skills h2 {
    font-size: 1.2em;
  }
}
@media (min-width: 425px) {
  .skills p {
    font-size: 0.9em;
    font-weight: normal;
  }
  .skills h2 {
    font-size: 1.3em;
  }
  .skills__item {
    width: 176px;
  }
}
@media (min-width: 768px) {
  .skills {
    margin-top: 0;
    padding: 4%;
  }
  .skills__item {
    width: 148px;
    padding: 4% 2%;
  }
  .skills-img {
    width: 60px;
  }
  p.skills__name {
    margin-top: 10%;
    font-size: 0.9em;
    font-weight: normal;
  }
  p.skills__subtitle {
    margin: 2% 0;
  }
}
@media (min-width: 1024px) {
  .skills {
    margin: 0;
    padding: 0 5%;
  }
  p.skills__subtitle {
    font-size: 1em;
  }
  .skills__item {
    width: 190px;
    padding: 3% 2%;
  }
}
@media (min-width: 1200px) {
  .skills {
    margin-top: 7%;
  }
  .skills h2 {
    font-size: 2em;
  }
  .skills__subtitle {
    font-size: 1em;
    margin: 0;
  }
  .skills__item {
    width: 260px;
    margin: 2% 3%;
  }

  p.skills__name {
    font-size: 0.8em;
    font-weight: bold;
    margin: 10% 0 0;
  }
}
