.presentation {
  text-align: center;
  padding: 20% 5% 15%;
}
.presentation__text h1 {
  font-size: 1.4em;
  margin-bottom: 0.1em;
  line-height: 1.3em;
  font-weight: bold;
}
.presentation__text h3 {
  font-size: 1.2em;
  font-weight: 600;
  width: 86%;
  margin: auto;
}
.presentation__text p {
  width: 80%;
  margin-top: 10px;
  font-weight: 400;
}

.image img {
  width: 60%;
  margin: 5% auto;
}
.purple {
  background-color: #b1bce6;
}
.purple:hover {
  background-color: var(--soft-purple);
}

.presentation hr {
  display: none;
  border-style:dotted;
  color: var(--dark-purple);
  border-width: 12px;
  border-bottom: none;
  width: 10%;
  margin: 20% auto 0;
  text-align: center;
}
@media (min-width: 375px) {
  .presentation__text h3 {
    width: 80%;
  }
}
@media (min-width: 425px) {
  .presentation {
    padding: 10% 5%;
  }
  .presentation__text h1 {
    width: 90%;
    margin: auto;
  }
  .presentation__text h3 {
    width: 85%;
  }
}
@media (min-width: 768px) {
  .presentation {
    padding: 2%;
    margin-top: 5%;
  }
  .image img {
    width: 40%;
    margin: 3% auto;
  }
}
@media (min-width: 1024px) {
  .image img {
    width: 25%;
    margin: 3% auto;
  }
}
@media (min-width: 1200px) {
  .presentation {
    padding: 3%;
    margin-top: 2%;
  }
  .presentation__text h1 {
    font-weight: bold;
    font-size: 2em;
    width: 100%;
  }
  .presentation__text h3 {
    font-size: 1.5em;
  }
  .image img {
    width: 20%;
    margin: 4% auto;
  }
}
