.courses {
  padding: 6% 5%;
}
.courses__item {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 7% 6%;
  margin-top: 7%;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0.2px 0.9px 0.9px silver;
}
.institution {
  font-weight: bold;
  margin-bottom: 1%;
  font-size: 1em;
}
.course,
.courses h2 {
  line-height: 1.2em;
}

.institution-logo {
  width: 3.5em;
  border-radius: 5px;
  margin-right: 8%;
}
.course,
.institution {
  width: 90%;
  line-height: 1.5em;
}
.course {
  font-size: .9em;
}

@media (min-width: 425px) {
  .courses h2 {
    font-size: 1.3em;
  }
  .course,
  .institution {
    width: 80%;
  }
}
@media (min-width: 768px) {
  .courses {
    margin: 0;
    padding: 5%;
  }
  .courses h2 {
    font-size: 1.3em;
    margin-bottom: 5%;
  }
  .courses__list {
    display: flex;
    flex-wrap: wrap;
  }
  .courses__item {
    padding:  2% 4%;
    margin: 2%;
    width: 46%;
    height: 160px;
  }
  .course,
  .institution {
    width: 100%;
    line-height: 1.3em;
    font-size: .9em;
  }
}
@media (min-width: 1024px) {
  .courses {
    padding: 0 5%;
  }
}

@media (min-width: 1200px) {
  .courses h2 {
    font-size: 2em;
    margin-bottom: 3%;
  }
  .courses__list {
    display: flex;
    flex-wrap: wrap;
  }
  .courses__item {
    padding: 2% 3%;
    background-color: #fff;
    margin: 2% 2.5%;
    width: 45%;
  }
  .institution-logo {
    width: 5em;
  }
  .institution{
    font-size: 1.1em;
  }
  .course {
    font-size: 1em;
  }

}
