.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}
.about img {
  width: 100%;
  border: 1px solid black;
  padding: 8px 10px;
  margin: 5% 0 10%;
  background-color: white;
  border: 1px solid rgb(166, 166, 166);
  box-shadow: 1px 1px 2px silver;
}

mark {
  background-color: #c6dce4;
}

.about button {
  background-color: whitesmoke;
  border-radius: 5px;
  border: 1px solid rgb(166, 166, 166);
  box-shadow: 1px 1px 2px silver;
  font-size: 1em;
  font-weight: 400;
  height: 55px;
  line-height: 1.2em;
  margin-top: 7%;
  padding: 2% 5%;
  width: 95%;
  cursor: pointer;
}
.about h2 {
  margin: 6% 0;
  font-size: 1.2em;
}
.about__text p {
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.5em;
  margin-bottom: 5%;
  text-align: justify;
}
@media (min-width: 425px) {
  .about h2 {
    margin: 6% 0;
    font-size: 1.3em;
  }
  .about__text p {
    font-size: 1em;
  }
}
@media (min-width: 768px) {
  .about {
    padding: 4%;
  }
  .about__text p {
    font-size: 1em;
    line-height: 1.8em;
    margin-bottom: 1%;
    text-align: justify;
  }
  .about img {
    display: none;
  }
}
@media (min-width: 1024px) {
  .about {
    padding: 0 5%;
  }
  .about h2 {
    margin-bottom: 3%;
    font-size: 1.4em;
  }
  .about img {
    display: block;
    width: 40%;
    margin: 0;
    position: relative;
    float: right;
    bottom: 200px;
    right: 25px;
  }
  .about__text p {
    font-size: 1em;
    line-height: 1.3em;
    margin-bottom: 1%;
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .about {
    background-color: rgb(238, 238, 238);
    padding-bottom: 0;
  }
  .about h2 {
    margin-bottom: 3%;
    font-size: 2em;
  }
  .about img {
    display: block;
    width: 35%;
    margin: 0;
    position: relative;
    float: right;
    bottom: 230px;
  }
  .about__text {
    max-height: 580px;
    margin-bottom: 7%;
  }
  .about__text p {
    font-size: 1.1em;
    line-height: 1.3em;
    margin-bottom: 1.5%;
    width: 50%;
    text-align: justify;
  }
  .about button {
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 40%;
  }
  .about button a {
    text-decoration: none;
    color: black;
  }
}
