.courses {
  padding: 6% 10%;
}
.courses__item {
  list-style-type: none;
  border-bottom: 1px solid silver;
  display: flex;
  align-items: center;
  padding: 10% 0;
  background-color: rgb(241, 238, 238);
  margin-top: 2%;
}
.institution {
  font-weight: bold;
  margin-bottom: 3%;
}
.course,
.courses h2 {
  line-height: 1.2em;
}

.institution-logo {
  width: 4em;
  border-radius: 5px;
  margin-right: 5%;
}
.course,
.institution {
  width: 90%;
}

@media (min-width: 1200px) {
  .courses h2 {
    font-size: 2em;
    margin-bottom: 3%;
  }
  .courses__list {
    display: flex;
    flex-wrap: wrap;
  }
  .courses__item {
    padding: 3%;
    background-color: rgb(241, 238, 238);
    margin: 2%;
    width: 45%;
  }
  .institution-logo {
    width: 5em;
  }
  .course{
    width: 100%;
  }
}
