/* geral */
body.dark {
    background-color: var(--dark-purple);
}
/* header  */
body.dark .header__menu {
    background-color: var(--dark-purple);
}
body.dark .header__menu li {
  box-shadow: 1px 3px 5px #1b1e2d;
  border: 1px solid #1b1e2d;
}
body.dark .header__menu li a {
    color: var(--white);
}
/* presentation  */
body.dark .presentation__text h1 {
    color: var(--white);
}
body.dark .presentation {
    background-color: var(--dark-purple);
}
body.dark .presentation__text h3 {
    color: var(--white);
}
/* about  */
body.dark .about__text {
    color: var(--white);
}
body.dark .about__text p,
body.dark .about__text h2 {
    color: var(--white);
}

body.dark .about {
    background-color: var(--dark-purple);
}
/* skills  */
body.dark .skills__item {
    background-color: #a9b1d638;
    box-shadow: 1px 1px 1px black;
}

body.dark p.skills__name {
    color: var(--white);
}
body.dark .skills__subtitle,
body.dark .skills h2 {
    color: var(--white);
}
/* hobbies  */
body.dark .hobbies__item {
    background-color: #a9b1d638;
    box-shadow: 1px 1px 1px black;
}
body.dark .hobbies__item p {
    color: var(--white);
    font-weight: 400;
}
body.dark .hobbies h2 {
    color: var(--white);
}
/* courses  */
body.dark .courses h2 {
    color: var(--white);
}
body.dark .hobbies__item__name,
body.dark .course, body.dark .institution{
    color: var(--white);
}
body.dark .courses__item {
    background-color: #a9b1d638;
    box-shadow: 1px 1px 1px black;
}
/* projects */
body.dark .projects__item {
    background-color: #a9b1d638;
    box-shadow: 1px 1px 1px black;
    border: none;
}
body.dark .projects__subtitle,
body.dark .projects__subtitle a,
body.dark .experience h2,
body.dark .projects__subtitle__link,
body.dark .projects__item__description,
body.dark .projects__item__title {
    color: var(--white);
}
body.dark .projects__item button {
    background-color: var(--white);
    box-shadow: 1px 1px 1px var(--dark-purple);
}
body.dark .projects__item a {
    color: #1b1e2d;
    font-weight: 400;
}
body.dark .projects__subtitle__link {
    border-bottom: 1px solid var(--white);
}
/* contact  */
body.dark .contact h2,
body.dark .contact h3,
body.dark .contact i,
body.dark .contact label {
    color: var(--white);
}
body.dark .contact input,
body.dark .contact textarea
{
    background-color:  #a9b1d638;
    border: none;
    outline: none;
    color: var(--white);
}
body.dark .contact button {
    background-color: var(--white);
    box-shadow: 1px 1px 1px var(--dark-purple);
}
body.dark .contact button a {
    color: #1b1e2d;
    font-weight: 400;
}
