.footer {
    background-color: black;
    color: whitesmoke;
    font-size: 0.8em;
    margin-top: 10%;
    padding: 2%;
}

.footer p {
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: whitesmoke;
}

.footer a::before {
    content: "<";
}
.footer a::after {
    content: "/>";
}

@media (min-width: 1200px) {
    .footer {
        margin-top: 0;
        padding: 1%;
    }
    .footer a:hover {
        color: goldenrod;
    }
}
