.presentation {
    text-align: center;
    padding: 15% 5%;
    margin-top: 3%;
  }
  
  .presentation__text h1 {
    margin-bottom: 0.1em;
    line-height: 1.3em;
    font-weight: bold;
  }
  .presentation__text h3 {
    font-weight: 600;
    width: 86%;
    margin: auto;
  }
  .presentation__text p {
    width: 80%;
    margin-top: 10px;
    font-weight: 400;
  }
  
  .image img {
    width: 60%;
    margin: 5% auto;
  }

  .front {
    text-decoration: none;
    background-color: #F2D1D1;
    color: black;
    background-blend-mode: multiply;
  }

  .purple {
    background-color: #B1BCE6;
  }

  @media (min-width: 1200px) {
    .presentation {
      text-align: center;
      padding: 2%;
      margin-top: 2%;
    }

  .presentation__text h1 {
    font-weight: bold;
    font-size: 2em;
    width: 100%;
  }
  .presentation__text h3 {
    font-size: 1.5em;
  }
    .image img {
      width: 20%;
      margin: 4% auto;
    }

  }