.experience {
  margin-top: 8%;
  padding: 10% 8%;
  display: flex;
  flex-wrap: wrap;
}
.projects__item {
  list-style-type: none;
  margin: 15% 0;
  border: 1px solid rgb(166, 166, 166);
  background-color: rgb(241, 238, 238);
  border-radius: 5px;
  box-shadow: 1px 2px 3px silver;
}

.projects__item:first-child{
    margin: 8% 0;
  }
.projects__item__img-container img {
  width: 100%;
  height: 160px;
  margin-bottom: 2%;
  box-shadow: 1px 1px 1px silver;
}

.projects__item__text {
    padding: 1% 5%;
}

.projects__item__title {
    font-weight: bold;
    margin: 3% 0 2%;
}

.projects__item__buttons button {
    width: 40%;
    margin: 5% 0  6%;
    height: 30px;
    box-shadow: 2px 0.5px 3px silver;
}
.projects__item__buttons button a {
   text-decoration: none;
   color: black;
}
.projects__item__buttons {
   display: flex;
   justify-content: space-around;
}