.skills {
  margin-top: 12%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding: 3% 5% 10%;
}
.skills__list {
  display: flex;
  flex-wrap: wrap;
}
.skills__item {
  width: 45%;
  list-style: none;
  padding: 4% 2%;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0.2px .9px .9px silver;
  margin: 2%;
  justify-content: center;
  text-align: center;
}

.skills__item:hover {
  background-color: rgb(243, 242, 242);
}

.skills p {
  font-weight: 600;
  font-size: 0.7em;
  margin: 3% 0;
}
.skills-img {
  height: 60px;
}
.skills h2 {
  margin:  0;
}

@media (min-width: 375px) {
  .skills h2 {
    font-size: 1.2em;
  }
}
@media (min-width: 425px) {
  .skills p {
    font-size: 1em;
  }
  .skills h2 {
    font-size: 1.3em;
  }
}
@media (min-width: 768px) {
  .skills {
    margin-top: 5%;
  }
  .skills__item {
  }
}
@media (min-width: 1024px) {
  .skills {
    margin: 0;
    padding-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .skills {
    margin-top: 1%;
  }
  .skills h2 {
    font-size: 2em;
  }
  .skills__subtitle {
    font-size: 1em;
    margin: 0;
  }
  .skills__item {
  }
  .skills__item i {
    margin-bottom: 2%;
    font-size: 4em;
  }

  p.skills__name {
    font-size: 0.8em;
    font-weight: bold;
  }
}
