.skills {
  margin-top: 12%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding: 3% 5% 10%;
}
.skills__list {
  display: flex;
  flex-wrap: wrap;
}
.skills__item {
  padding: 4%;
  margin: 4% auto;
  border: 1px solid silver;
  border-radius: 3px;
  background-color: rgb(241, 238, 238);
  box-shadow: 0.2px 0.3px 0.5px grey;
  list-style: none;
  text-align: center;
  width: 45%;
}
body.dark .skills__item {
 background-color: #dadef1;
}

body.dark .skills__item p,
body.dark .skills__item i {
color: #24283b;
}
body.dark .skills__subtitle,
body.dark .skills h2 {
  color: #dadef1;
}
.skills__item:hover {
  transform: scale(1.02);
  border-color: goldenrod;
}
.skills p {
  line-height: 1.5em;
  font-size: 0.9em;
  margin: 3% 0;
}
.skills__item i {
  font-size: 3.5em;
  margin-bottom: 10%;
}
@media (min-width: 375px) {
  .skills h2 {
    font-size: 1.2em;
  }
}
@media (min-width: 425px) {
  .skills p {
    font-size: 1em;
  }
  .skills h2 {
    font-size: 1.3em;
  }
}
@media (min-width: 768px) {
  .skills {
    margin-top: 5%;
  }
  .skills__item {
    padding: 3%;
    margin: 2%;
    width: 20%;
  }
}
@media (min-width: 1024px) {
  .skills {
    margin: 0;
    padding-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .skills {
    margin-top: 5%;
  }
  .skills h2 {
    font-size: 2em;
  }
  .skills__subtitle {
    font-size: 1em;
  }
  .skills__item {
    padding: 3%;
    margin: 2%;
    border: 1px solid silver;
    background-color: transparent;
    box-shadow: 0.2px 0.3px 0.5px grey;
    width: 20%;
  }
  .skills__item i {
    margin-bottom: 15%;
  }
}
