.toggle-theme {
    position: relative;
    left: -18%;
}
.toggle-checkbox {
    opacity: 0;
    position: absolute;
}
.toggle-label {
    background-color: #24283b;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 18px;
    width: 35px;
    transform: scale(1.5);
}
.fa-moon, .fa-sun {
    color: #D4A665;
    font-size: 12px;
}
.toggle-ball {
    background-color: #dadef1;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 14px;
    width: 14px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}
.toggle-checkbox:checked + .toggle-label .toggle-ball{
    transform: translateX(15px);
}

@media (min-width: 768px) {
    .toggle-theme {
        position: relative;
        left: -7%;
    }
}